<p>reactiveforms works!</p>

<form [formGroup]="log_in">
    <label for="email">Email: </label>
    <input id="email" type="text" formControlName="email">

    <label for="password">Password: </label>
    <input id="password" type="text" formControlName="password">

    <button type="submit" [disabled]="!log_in.valid">Log-in</button>

    <form [formGroup]="log_in" (ngSubmit)="onSubmit"></form>


</form>

    <form [formGroup]="log_in" (ngSubmit)="onSubmit"></form>



