<!-- <p>efr works!</p>
<button (click)="onClick()">Click me!</button>
<input (keyup)="onKeyUp($event)"> -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration Form</title>
        <script>
            function onSubmit() {
                // Get form elements
                var username = document.getElementById("username").value;
                var email = document.getElementById("email").value;
                var password = document.getElementById("password").value;
                var confirmPassword = document.getElementById("confirmPassword").value;
    
                // Simple form validation
                if (username === '' || email === '' || password === '' || confirmPassword === '') {
                    alert("Please fill out all fields");
                    return false;
                }
    
                // Check if passwords match
                if (password !== confirmPassword) {
                    alert("Passwords do not match");
                    return false;
                }
    
                // Form is valid, you can submit it
                alert("Registration successful!");
                return true;
            }
    
            function togglePassword() {
                // Implement password toggle functionality if needed
                var passwordField = document.getElementById("password");
                var type = passwordField.type === "password" ? "text" : "password";
                passwordField.type = type;
            }
        </script>
    </head>
<body>

    <p>efr works!</p>
    <p>Welcome to login part</p>

    <form action="onSubmit()" method="post">
        <p>
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <button type="button" onclick="togglePassword()"></button>
        </p>
        <p>
            <label for="isRemember">Remember me</label>
            <input type="checkbox" id="isRemember" name="isRemember">
        </p>
        <p>
            <button type="login">Log-in</button>
        </p>
    </form>

    <script>
        function togglePassword() {
            var passwordField = document.getElementById("password");

            // Toggle the input type between "password" and "text"
            passwordField.type = (passwordField.type === "password") ? "text" : "password";
        }
    </script>

<p>Welcome to Registration part</p>

<form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
    <p>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" ngModel required>
    </p>

    <p>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" ngModel required>
    </p>

    <p>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" ngModel required>
    </p>

    <p>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" ngModel required>
        <div *ngIf= "password != confirmPassword">
            Passwords do not match.
        </div>
    

    <p>
        <button type="submit" [disabled]="registrationForm.invalid">Submit</button>
    </p>
</form>

<script>
    function togglePassword() {
        var passwordField = document.getElementById("password");

        // Toggle the input type between "password" and "text"
        passwordField.type = (passwordField.type === "password") ? "text" : "password";
    }
</script>


</body>
</html>

