<p appHoverHighlight>demo-si works!</p>
<button class="hoverboard-button">Hoverboard Button</button>

<p> Name: {{FSAD.name}}</p>

<input [value]="Name" (input)="whenchanged($event)"><br>
<p> name = {{Name}}</p>

<p>Room: {{FSAD.classroom}}</p>
<p>Students: {{'cs students ' + FSAD.student + " likewise you can do any opedations "}}</p>
<img [src] = "FSAD.classimage">

<p>Let's do 2 way of binding</p>

<input [value]="time">
<p></p>
<input mytime="name" [value]="time" (input)="whenchanged($event)">